<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Board Games Order List</title>
</head>
<body>
    <h1>
        My Board Games Order List
    </h1>
    {% for order in boardgame_orders %}
    <div>
        <p>
            <a href='orders/{{ boardgame_orders.index(order) }}'> {{order.customer_name}}</a>
        </p>
    </div>
    {% endfor %}
</body>
</html>